*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.input-box{
    background: #ffff;
    padding: 20px;
    margin: 300px auto;
    border-radius: 8px;
    /* width: 90%; */
    max-width: 500px;
    display: flex;
    align-items: center;
}

.input-box input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

.input-box img{
    width: 20px;
    cursor: pointer;
}